.wrapper {
  padding: 40px 0 0 0;
  height: 50px;
  position: relative;
}
.searchBox {
  width: 855px;
  height: 50px;
  position: absolute;
  right: 134px;
  display: flex;
  justify-content: space-between;
}
.inputWrap {
  position: relative;
}
.input {
  box-sizing: border-box;
  height: 100%;
  display: block;
  border: 0;
  border-radius: 4px;
  background: #fff;
  color: #7b7b7bc6;
  line-height: 31px;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.location{
  width: 198px;
  padding: 10px 10px 9px 38px;
  &__img {
    position: absolute;
    left: 0;
    width: 13px;
    height: 18px;
    padding: 16px 10px 15px;
    z-index: 10;
  }
}
.search {
  width: 467px;
  padding: 10px 10px 9px 52px;
  &__img {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    padding: 17px 18px 16px;
    z-index: 10;
  }
}
