.header {
  background: #F5F7FB;
  height: 62px;
}

.chatBox {
  flex: 1;
}

.input {
  min-height: 56px;
  border: 1px solid #E9EBF2;
  box-sizing: border-box;
  padding: 17px 72px 17px 20px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #97A3B4;
  width: 100%;
}
