.container {
  height: 100%;
  width: 100%;
  background:yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: #333;
  text-transform: uppercase;
}

.avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
